li span { display: inline-block; }

li span.subject-database-year { width: 100px; }
li span.subject-database-number { width: 70px; }
li span.subject-database-q { width: 70px; }
li span.subject-database-a { width: 70px; text-align: right; }

li span.bbs-user-name { width: 100px; }
li span.bbs-text { width: 300px; }
li span.bbs-datetime { width: 100px; }
