<!DOCTYPE html>

<html lang=ja>
  <head>
    <meta charset=UTF-8>
    <title>統計学 -hokudaimedicine93.com</title>
    <link rel=stylesheet href=../../reset.css type=text/css>
    <link rel=stylesheet href=../../grobal.css type=text/css>
    <link rel=stylesheet href=../subject.css type=text/css>
  </head>

  <body>
    <div id=grobal-wrapper>

      <header id=grobal-header>
        <img src=../../grobal-image/grobal-top.png alt=page-top>
        <ul>
          <li><a href=../../index.html><div>HOME</div></a></li>
          <li><a href=../../news.html><div>NEWS</div></a></li>
          <li><a href=../../subjects.html><div>Subjects</div></a></li>
          <li><a href=../../schedule.html><div>Schedule</div></a></li>
          <li><a href=../../mail.html><div>Mailing list</div></a></li>
          <li><a href=../../billboard.html><div>Billboard</div></a></li>
          <li><a href=../../about.html><div>About Us</div></a></li>
        </ul>
      </header>

      <nav id=grobal-side-navigation>
        <h1>2年前期</h1>
        <section>
          <ul>
            <li><a href=#>統計学</a></li>
            <li><a href=medical-introduction.html>医学概論</a></li>
            <li><a href=clinical-introduction.html>診療学入門</a></li>
            <li><a href=medical-english.html>医学英語演習</a></li>
            <li><a href=genetics.html>遺伝学</a></li>
            <li><a href=cell-biology.html>細胞生物学</a></li>
            <li><a href=anatomy-histology.html>解剖学（組織学）</a></li>
            <li><a href=histology-practice.html>組織学実習</a></li>
            <li><a href=early-clinical-practice.html>早期臨床演習</a></li>
          </ul>
        </section>

        <h1>今週の予定</h1>
        <section>
          <!-- TODO 今週のカレンダーを挿入、イメージだけ作っておく-->
          <ul>
            <li>Mon</li>
            <li>Tue</li>
            <li>Wed</li>
            <li>Thu</li>
            <li>Fri</li>
          </ul>
        </section>
      </nav>

      <div id=grobal-main-column>
        <p>Subject Page</p>
        <h1>統計学</h1>

        <h2>基本情報</h2>
        <section>
          <ul>
            <li>教科名：統計学</li>
            <li>担当教員：西山 茂</li>
            <li><a href=http://syllabus01.academic.hokudai.ac.jp/Syllabus/app/Search/SearchMain.aspx>シラバス検索</a></li>
          </ul>
        </section>

        <h2>授業資料</h2>
        <section id=subjects-material>
          <ul>
            <li><a href=statistics/summary/00.pdf>オリエンテーション(PDF)</a></li>
            <li><a href=statistics/summary/01.pdf>第1回(PDF)</a></li>
            <li><a href=statistics/summary/02.pdf>第2回(PDF)</a></li>
          </ul>
        </section>

        <h2>小テスト</h2>
        <section id=subjects-mini-test>
          <ul>
            <li>第1回：問題、<a href=statistics/mini-test/01.pdf>解答(PDF)</a></li>
          </ul>
        </section>

        <h2>過去問</h2>
        <section id=subjects-past-exam>
          <ul>
            <li>2008年度：<a href=statistics/past-exam/2008.pdf>問題(PDF)</a>、解答</li>
            <li>2009年度：<a href=statistics/past-exam/2009.pdf>問題(PDF)</a>、解答</li>
          </ul>
        </section>

        <h2>質問掲示板</h2>
        <p>雑談現金！雑談は<a href=../../Billboard.html>雑談板</a>で！</p>
        <section id=subjects-billboard>
          <!-- TODO 形式は要検討-->
        </section>
      </div>

      <footer id=grobal-footer>
        <hr><!-- TODO 後できちんと画像にすること-->
        <address>
          Copyright 2011-2012 hokudaimedicine93.com
        </address>
      </footer>

    </div>
  </body>
</html>
